.advantages {
  padding-top: 70px;

  &__title {
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 30%;
    margin-bottom: 50px;
    text-align: center;

    p {
      max-width: 230px;
      margin: 0 auto;
    }

    img {
      height: 240px;
      margin: 0 auto 33px auto;
    }
  }
}

@media (max-width: 768px) {
  .advantages {
    padding-top: 50px;

    &__item {
      width: 50%;
    }
  }
}

@media (max-width: 550px) {
  .advantages {
    &__item {
      width: 100%;
    }
  }
}

@media (max-width: 410px) {
  .advantages {
    padding-top: 0;
  }

  .advantages__title {
    font-size: 20px;
  }
}
