<div class="@@class card-project" itemscope itemtype="https://schema.org/Product">
  <img class="card-project__image" itemprop="image" src="@img/projects/prod-@@img.png" alt="Фото дома" />

  <span class="card-project__name" itemprop="name">Проект <span>@@name</span></span>

  <ul class="card-project__list text--small" itemprop="description">
    <li class="card-project__option">Площадь дома: <span>@@area</span>&nbsp;м&sup2;</li>
    <li class="card-project__option">
      Габариты дома: <span>@@width&times;@@height</span>*&nbsp;м (полные габариты дома)
    </li>
    <li class="card-project__option">Этажность: <span>@@floors</span></li>
    <li class="card-project__option">Наличие гаража: <span>@@garage</span></li>
    <li class="card-project__option">Площадь застройки: <span>@@buildArea&nbsp;</span>м&sup2;</li>
    <li class="card-project__option">
      Высота в&nbsp;коньке: <span>@@hk</span> (от&nbsp;уровня пола первого этажа ). Высота цоколя
      <span>@@hc&nbsp;</span>м.
    </li>
    <li class="card-project__option">Площадь крыши: <span>@@roof&nbsp;</span>м&sup2;</li>
  </ul>

  <button class="button-alt">получить полную презентацию дома</button>
</div>